@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 3px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 33px;
    @apply bg-slate-600;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-300;
    border-radius: 33px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700;
  }
}
